params.dry_run = true

// Nε-Benzyloxycarbonyl-lysine (ZLys)
params.ncaa = 'N[C@@H](CCCCNC(=O)OCc1ccccc1)C(=O)O'
params.scaffold = 'mma_pylrs'
params.sdf = 'results/ncaa_adenylate.sdf'
params.n_ncaa_confs = 5
params.resfile = "${projectDir}/dry_run/resfile"

process {
  withLabel: pyrosetta {
    container = 'ncaars-rdkit-prody-pyrosetta:latest'
  }
  withLabel: molfile_to_params {
    container = 'ncaars-molfile-to-params:v2021.49-dev61812'
  }
}

docker.enabled = true
