// Nε-Benzyloxycarbonyl-lysine (ZLys)
params.ncaa = 'N[C@@H](CCCCNC(=O)OCc1ccccc1)C(=O)O'
params.scaffold = 'mma_pylrs'
params.sdf = 'results/ncaa_adenylate.sdf'
params.dry_run = true
params.n_ncaa_confs = 5
params.beyer_n = 2
params.resfile = "${projectDir}/dry_run/resfile"

docker.enabled = true

